@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.radix-dropdown-menu-content {
  @apply z-50 my-2 overflow-hidden rounded bg-neutral-50 shadow dark:bg-neutral-800;
  animation-name: fadeIn;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: opacity;
}

.radix-dropdown-button {
  @apply flex w-full flex-row items-center gap-x-2 px-3 py-2 text-sm font-medium;
  @apply bg-neutral-50 text-black hover:text-neutral-700 dark:bg-neutral-700 dark:text-white dark:hover:text-neutral-300;
  @apply transition-colors;
  @apply focus:ring-0 focus:ring-offset-0 disabled:opacity-75;
}
