@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    accent-color: theme(colors.indigo.500);
    color-scheme: dark light;
  }

  body {
    @apply overflow-y-scroll;
    @apply bg-white dark:bg-neutral-900;
  }

  ::selection {
    @apply bg-indigo-500/75 text-white;
  }

  :root {
    --react-hot-toast-fg: theme(colors.black);
    --react-hot-toast-bg: theme(colors.white);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --react-hot-toast-fg: theme(colors.white);
      --react-hot-toast-bg: theme(colors.neutral.800);
    }
  }
}

@layer components {
  a,
  input,
  button,
  textarea,
  select:not(.moddermore-input) {
    @apply focus:outline-none focus:ring focus:ring-indigo-400/60;
  }

  .title {
    @apply mb-10 text-4xl font-bold;
  }

  .layout {
    @apply mx-auto mb-40 flex max-w-[75ch] flex-col px-6;
  }

  :not(select).moddermore-input {
    @apply w-full rounded bg-neutral-100 px-3 py-2 shadow-sm dark:bg-neutral-800;
  }

  select.moddermore-input {
    @apply form-select block rounded border-none bg-neutral-100 shadow-sm dark:bg-neutral-800;
    @apply focus:outline-none focus:ring focus:ring-indigo-400/60;
  }

  .primaryish-button {
    @apply flex items-center gap-x-3 rounded-md px-3 py-2 text-sm font-medium transition-all;
    @apply bg-indigo-500 text-white hover:brightness-[0.85] disabled:scale-95 disabled:brightness-[0.8];
  }

  .primaryish-button.modrinth-themed {
    @apply bg-[hsl(155,58%,38%)] focus:ring-[hsla(155,58%,38%,60%)];
  }

  .primaryish-button.idk-blue-themed {
    @apply bg-sky-500 focus:ring-sky-500/60;
  }

  .primaryish-button.fuchsia-themed {
    @apply bg-fuchsia-500 focus:ring-fuchsia-500/60;
  }

  .primaryish-button.showcase {
    @apply px-6 py-4 text-lg disabled:scale-100;
  }

  .landing-page-fade-out {
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left 75%,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: -webkit-gradient(
      linear,
      left top,
      left 75%,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }

  .data-list {
    @apply mb-8 space-y-1 text-neutral-700 dark:text-neutral-300;
  }

  .data-list strong {
    @apply font-medium text-black dark:text-white;
  }

  .new-card {
    @apply bg-neutral-100 px-5 py-8 dark:bg-neutral-800;
    @apply flex flex-col items-center gap-y-2 rounded;
    @apply transition-shadow;
  }

  .new-card > span {
    @apply text-xl font-semibold;
  }

  .results-list {
    @apply flex w-full flex-col space-y-2;
  }
  .results-list > details {
    @apply flex w-full flex-col items-center rounded bg-white p-2 shadow-sm dark:bg-neutral-700;
  }
  .results-list > details > summary {
    @apply cursor-default text-lg font-medium hover:cursor-pointer;
  }
  .results-list > details > ul {
    @apply mt-2 flex w-full flex-col space-y-0.5;
  }

  .moddermore-footer {
    @apply mt-4 flex w-full flex-col items-center gap-y-2 py-16;
  }
  .moddermore-footer > p,
  .moddermore-footer > a {
    @apply text-sm font-normal text-neutral-500 hover:text-neutral-700 dark:text-neutral-400 dark:hover:text-neutral-200;
    @apply transition-all;
  }

  @keyframes spin-fast {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-fast {
    animation: spin-fast 0.25s linear infinite;
  }

  .skeleton {
    @apply relative inline-block overflow-hidden rounded-md;
    @apply bg-neutral-100 dark:bg-neutral-800;
  }

  .skeleton::after {
    @apply absolute inset-0 -translate-x-full;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.025) 20%,
      rgba(0, 0, 0, 0.05) 60%,
      rgba(0, 0, 0, 0)
    );
    animation: shimmer 1.5s infinite;
    content: '';

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.025) 20%,
        rgba(255, 255, 255, 0.05) 60%,
        rgba(255, 255, 255, 0)
      );
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

#nprogress .spinner {
  display: none;
}

#nprogress .spinner-icon {
  display: none;
}
