@import "shadcn/tailwind.css";
@import "tw-animate-css";

@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-feature-settings: "case", "ss01", "ss02";
}

@theme {
  --font-sans:
    "Outfit", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-display: var(--font-sans);
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border: 0 solid transparent;
  }

  html {
    @apply scroll-smooth font-sans;
    color-scheme: dark light;
  }

  body {
    @apply bg-background text-foreground antialiased;
    @apply overflow-y-scroll;
    @apply bg-white dark:bg-neutral-950;
  }

  ::selection {
    @apply bg-black text-white dark:bg-white dark:text-black;
  }

  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.488 0.243 264.376);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: 0 0% 98%;
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.546 0.245 262.881);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --sidebar: oklch(0.985 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.424 0.199 265.638);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: 0 0% 98%;
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar-background: 240 5.9% 7.5%;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --sidebar: oklch(0.205 0 0);
  }
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }
  * {
    @apply border-border outline-ring/50;
  }
}

@layer components {
  .title {
    @apply font-display mb-16 text-5xl font-extrabold tracking-tight;
    text-wrap: pretty;
    @apply placeholder:text-neutral-400 dark:placeholder:text-neutral-600;
  }

  .layout {
    @apply mx-auto mb-48 flex max-w-[75ch] flex-col px-6;
  }

  :not(select).mm-input {
    @apply w-full rounded bg-neutral-50 px-3 py-2 shadow-sm dark:bg-neutral-900;
    @apply border-2 border-transparent;
  }

  .mm-input.invalid,
  .mm-input:invalid {
    @apply border-red-500;
  }

  select.mm-input {
    @apply form-select block rounded border-none bg-neutral-100 shadow-sm dark:bg-neutral-800;
    @apply focus:ring focus:ring-indigo-400/60 focus:outline-none;
  }

  .metadata {
    @apply flex flex-col gap-y-2 text-sm text-neutral-700 dark:text-neutral-300;
  }

  .metadata > div {
    @apply flex flex-row items-center gap-x-2;
  }

  .metadata > div strong {
    @apply font-medium text-black dark:text-white;
  }

  .new-card {
    @apply bg-neutral-100 p-8 dark:bg-neutral-900;
    @apply flex flex-col items-start gap-y-1.5 rounded;
  }

  .new-card > span {
    @apply text-lg font-medium tracking-tight;
  }

  .results-list {
    @apply flex w-full flex-col gap-y-2;
  }
  .results-list > details {
    @apply flex w-full flex-col items-center rounded bg-white px-4 py-3 shadow-sm dark:bg-neutral-800;
  }
  .results-list > details > summary {
    @apply cursor-default text-lg font-medium hover:cursor-pointer;
  }
  .results-list > details > ul {
    @apply mt-2 flex w-full flex-col gap-y-0.5;
  }

  .dialog.overlay {
    @apply fixed inset-0 bg-white/75 backdrop-blur-md dark:bg-neutral-900/75;
  }

  .dialog.content {
    @apply fixed top-1/2 left-1/2 z-99 max-h-[85vh] w-[90%] max-w-lg -translate-x-1/2 -translate-y-1/2 overflow-y-auto;
    @apply rounded-lg bg-white p-8 dark:bg-neutral-900;
    @apply focus:outline-none;
  }

  @keyframes spin-fast {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-fast {
    animation: spin-fast 0.5s linear infinite;
  }

  .skeleton {
    @apply relative inline-block overflow-hidden rounded-md;
    @apply bg-neutral-100 dark:bg-neutral-800;
  }

  .skeleton::after {
    @apply absolute inset-0 -translate-x-full;
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.025) 20%,
      rgba(0, 0, 0, 0.05) 60%,
      rgba(0, 0, 0, 0)
    );
    animation: shimmer 1.5s infinite;
    content: "";

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.025) 20%,
        rgba(255, 255, 255, 0.05) 60%,
        rgba(255, 255, 255, 0)
      );
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

#nprogress .spinner {
  display: none;
}

#nprogress .spinner-icon {
  display: none;
}

@theme inline {
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
