@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    accent-color: theme(colors.indigo.500);
    color-scheme: dark light;
  }

  body {
    @apply overflow-y-scroll;
    @apply bg-white dark:bg-zinc-900;
  }

  ::selection {
    @apply bg-indigo-500/75 text-white;
  }

  :root {
    --react-hot-toast-fg: theme(colors.black);
    --react-hot-toast-bg: theme(colors.white);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --react-hot-toast-fg: theme(colors.white);
      --react-hot-toast-bg: theme(colors.zinc.800);
    }
  }
}

@layer components {
  a,
  input,
  button,
  textarea,
  select:not(.moddermore-input) {
    @apply focus:outline-none focus:ring focus:ring-indigo-400/60;
  }

  .title {
    @apply mb-10 text-4xl font-bold;
  }

  .layout {
    @apply mx-auto mb-40 flex max-w-[75ch] flex-col px-6;
  }

  :not(select).moddermore-input {
    @apply w-full rounded bg-zinc-100 px-3 py-2 shadow-sm dark:bg-zinc-800;
  }

  select.moddermore-input {
    @apply form-select block rounded border-none bg-zinc-100 shadow-sm dark:bg-zinc-800;
    @apply focus:outline-none focus:ring focus:ring-indigo-400/60;
  }

  .primaryish-button {
    @apply flex items-center space-x-3 rounded-md px-3 py-2 text-sm font-medium transition-all;
    @apply bg-indigo-500 text-white hover:brightness-[0.85] disabled:scale-95 disabled:brightness-[0.8];
  }

  .primaryish-button.modrinth-themed {
    @apply bg-[hsl(155,58%,38%)] focus:ring-[hsla(155,58%,38%,60%)];
  }

  .data-list {
    @apply mb-8 space-y-1 text-zinc-700 dark:text-zinc-300;
  }

  .data-list strong {
    @apply font-medium text-black dark:text-white;
  }

  .new-card {
    @apply bg-zinc-100 px-5 py-8 dark:bg-zinc-800;
    @apply flex flex-col items-center space-y-2;
    @apply rounded text-xl font-semibold;
    @apply transition-shadow;
  }

  .results-list {
    @apply flex w-full flex-col space-y-2;
  }
  .results-list > details {
    @apply flex w-full flex-col items-center rounded bg-white p-2 shadow-sm dark:bg-zinc-700;
  }
  .results-list > details > summary {
    @apply cursor-default text-lg font-medium hover:cursor-pointer;
  }
  .results-list > details > ul {
    @apply mt-2 flex w-full flex-col space-y-0.5;
  }

  .moddermore-footer {
    @apply mt-4 flex w-full flex-col items-center space-y-2 py-16;
  }
  .moddermore-footer > p,
  .moddermore-footer > a {
    @apply text-sm font-normal text-zinc-500 hover:text-zinc-700 dark:text-zinc-400 dark:hover:text-zinc-200;
    @apply transition-all;
  }

  @keyframes spin-fast {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-fast {
    animation: spin-fast 0.25s linear infinite;
  }
}

#nprogress .spinner {
  display: none;
}

#nprogress .spinner-icon {
  display: none;
}
