@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    color-scheme: dark light;
  }

  body {
    @apply overflow-y-scroll;
    @apply bg-white dark:bg-zinc-900;
  }

  input,
  button,
  textarea,
  select {
    @apply focus:outline-none focus:ring focus:ring-blue-400/50;
  }
}

@layer components {
  .title {
    @apply text-4xl font-bold mb-10;
  }

  .layout {
    @apply mx-auto max-w-[75ch] py-40;
  }

  :not(select).moddermore-input {
    @apply px-3 py-2 bg-zinc-100 dark:bg-zinc-900 rounded shadow-sm w-full;
  }

  select.moddermore-input {
    @apply form-select border-none bg-zinc-100 dark:bg-zinc-900 rounded shadow-sm;
  }

  @keyframes spin-fast {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-fast {
    animation: spin-fast 0.25s linear infinite;
  }

  /* temporary, this */
  .closed-beta-contact > a {
    @apply font-medium;
    @apply text-blue-400 hover:text-blue-500 dark:hover:text-blue-300 transition-colors;
  }
}
