@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    color-scheme: dark light;
  }

  body {
    @apply overflow-y-scroll;
    @apply bg-white dark:bg-zinc-900;
  }

  ::selection {
    @apply bg-indigo-500 text-white;
  }
}

@layer components {
  input,
  button,
  textarea,
  select {
    @apply focus:outline-none focus:ring focus:ring-indigo-400/60;
  }

  .title {
    @apply mb-10 text-4xl font-bold;
  }

  .layout {
    @apply mx-auto my-40 max-w-[75ch] px-6;
  }

  :not(select).moddermore-input {
    @apply w-full rounded bg-zinc-100 px-3 py-2 shadow-sm dark:bg-zinc-800;
  }

  select.moddermore-input {
    @apply form-select rounded border-none bg-zinc-100 shadow-sm dark:bg-zinc-800;
  }

  button[type='submit'] {
    @apply !mt-14 flex items-center justify-center space-x-3 rounded-md bg-indigo-500 py-3 px-4 text-sm font-medium text-white transition-all hover:bg-indigo-400 disabled:opacity-75;
  }

  .data-list {
    @apply mb-8 space-y-1 text-zinc-700 dark:text-zinc-300;
  }

  .data-list strong {
    @apply font-medium text-black dark:text-white;
  }

  @keyframes spin-fast {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-fast {
    animation: spin-fast 0.25s linear infinite;
  }

  /* temporary, this */
  .closed-beta-contact > a {
    @apply font-medium;
    @apply text-indigo-400 transition-colors hover:text-indigo-500 dark:hover:text-indigo-300;
  }
}
